@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

:root {
  --backgroundColor: #d8ddde;
  --navBackgroundColor: #6c4672;
  --navBackgroundHover: #84558b;
  --primaryFont: #1b2845;
  --secondaryFont: #227396;
  --boldColor: #119da4;
  --navActive: #ffb60a;
  --fontSizeTitle1: 50px;
  --fontSizeTitle2: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--backgroundColor);
  color: var(--primaryFont);
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

section {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 50px 0px 50px;
}
/* ********************* Header *************** */
header {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}
/* -------- Navbar-------  */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px 15px;
  border-bottom: 3px solid var(--backgroundColor);
  background-color: var(--navBackgroundColor);
  height: 70px;
  /* child of header */
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  /* display: none; */
  position: absolute;
  height: 0;
  top: 70px;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background-color: var(--navBackgroundColor);
}

nav ul a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--backgroundColor);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.3rem;
  transition: background-color 1s ease, padding 1s ease, color 1s ease;
}

nav ul a:hover {
  color: var(--navActive);
  padding-left: 30px;
  background: var(--navBackgroundHover);
}

nav ul.navToggle {
  height: 200px;
}

.logo img {
  height: 50px;
  top: 0;
  bottom: 0;
}

.navBtn {
  transition: color 1s ease;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navBtn .navBtn-burger {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: var(--backgroundColor);
  transition: transform 0.3s ease-in-out;
}

.navBtn-burger::before,
.navBtn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: var(--backgroundColor);
  transition: transform 0.3s ease-in-out;
}

.navBtn .navBtn-burger::before {
  transform: translateY(-12px);
}

.navBtn .navBtn-burger::after {
  transform: translateY(12px);
}

.navBtn:hover {
  cursor: pointer;
}

.navBtn.navToggle .navBtn-burger {
  transform: translateX(-50px);
  background-color: transparent;
}

.navBtn.navToggle .navBtn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.navBtn.navToggle .navBtn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ----------------- end of Navbar */

.banner {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-center {
  padding: 50px;
}

.banner-center h6 {
  color: var(--navBackgroundColor);
  font-size: 18px;
  margin-bottom: 10px;
}
.resumeBtn {
  border-radius: 5px;
  border: 3px solid var(--navBackgroundColor);
  text-decoration: none;
  padding: 10px 15px;
  color: var(--navBackgroundColor);
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
}

.resumeBtn:hover {
  border-color: var(--navBackgroundHover);
  background-color: var(--navBackgroundHover);
  color: white;
}

/* Banner Animation  */
.block-effect {
  font-size: calc(8px + 6vw);
  margin-bottom: 30px;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: "";

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: var(--navBackgroundColor);
    font-family: "Train One", cursive;
    font-size: 3vm;
    font-weight: bold;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

/* end of banner animation */
.title {
  text-transform: uppercase;
  font-size: 3vm;
  color: var(--navBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin: 0 auto 50px auto;
  text-align: center;
  border-top: 1px solid var(--navBackgroundColor);
  border-bottom: 1px solid var(--navBackgroundColor);
}

/* ******************************** about section ************* */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  padding-bottom: 50px;
  flex: 0 1 60%;
}
.about-text ul {
  columns: 2;
  margin: 10px 5px;
  list-style-type: none;
}

.about-text ul i {
  margin-right: 5px;
  color: var(--navBackgroundHover);
}

.profileImg-container {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.profileImg {
  display: inline-block;
  position: relative;
}
.profileImg img {
  width: 200px;
  /* transition: opacity 0.3s ease-in-out; */
  /* background-color: (rgba(0, 0, 0, 0.2)); */
}

.profileImg::before {
  content: "";
  position: absolute;
  bottom: -12%;
  right: -15%;
  width: 100%;
  height: 100%;
  border: 3px solid var(--navBackgroundColor);
  border-radius: 3px;
  z-index: -10;
  transition: all 0.5s ease-in-out;
}

.profileImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 97, 160, 0.5);
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.profileImg:hover::before {
  bottom: -10px;
  right: -12px;
}

.profileImg:hover::after {
  background-color: rgba(154, 97, 160, 0);
}

/* **************************** Portfolio section ************* */
.portfolio {
  text-transform: capitalize;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* margin: 0 20px; */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 25px;
  min-width: 350px;
  max-height: 550px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-image-container {
  overflow: hidden;
  border: 10px solid rgb(248, 247, 247);
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
.card-image-container img {
  width: 100%;
  height: 350px;
  transition: transform 0.5s ease-in-out;
}

.card-image-container .view-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  cursor: poiner;
}

.card-image-container:hover img {
  transform: scale(1.5);
}

.card-image-container:hover {
  opacity: 1;
}

.card-footer {
  padding: 20px 25px;
}

.card h4 {
  color: var(--primaryFont);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-btn a {
  padding: 5px 15px;
  min-width: 125px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid var(--navBackgroundColor);
  text-decoration: none;
  color: var(--navBackgroundColor);
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.card-btn a:hover {
  border-color: var(--navBackgroundHover);
  background-color: var(--navBackgroundHover);
  color: white;
}

/* **************************** contact section ************* */

.contact {
  min-height: 93vh !important;
}
.contact-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px 30px;
}

.contact-item i {
  color: var(--navBackgroundColor);
  font-size: 50px;
  margin-bottom: 20px;
}

.contact-item a:active {
  color: var(--navActive);
}

/* **************************** footer section ************* */

footer {
  /* height: 70px; */
  min-height: 7vh;
  background: var(--navBackgroundColor);
  color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media screen and (min-width: 776px) {
  nav {
    /* padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; */
  }
  .navBtn {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100% !important;
    position: relative;
    top: 0;
    flex-wrap: wrap;
  }

  nav ul a {
    padding: 10px 20px;
  }
  nav ul a:hover {
    background-color: transparent;
    padding-left: 20px;
  }
  .block-effect {
    font-size: calc(8px + 3vw);
  }
  section {
    padding-top: 100px;
  }
  .title {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-content {
    flex-direction: row;
  }
  .about-text ul {
    margin: 10px;
  }
  .about-text ul i {
    margin-right: 10px;
  }
  .card-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-item-container {
    padding: 100px 0;
    flex-direction: row;
  }
}
